:root{
    --color-theme-bg: #14120b;
    --color-theme-fg: #edecec;
    --text-color: rgb(237, 236, 236);
    --text-color-dark: rgb(20, 18, 11);
    --footer-bg-color: rgb(27, 25, 19);
    --link-orange: rgb(245, 78, 0);
    --dull-text-color: oklab(0.943853 0.00107113 0.000336707 / 0.6);
    --sign-in-border-color: oklab(0.943853 0.00107113 0.000336707 / 0.2);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;;
}

header, main{
    background-color: var(--color-theme-bg);
}

header{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

.navbar{
    max-width: 1300px;
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img{
    width: 96px;
    height: 24px;
}

.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color: var(--text-color);
}

.nav-ctas{
    max-width: 160px;
    width: 100%;
    display: flex;
    gap: 0.60rem;
}

.sign-in{
    border: none;
    background: none;

    width: 66px;
    height: 28px;

    color: var(--text-color);
    border: 1px solid var(--sign-in-border-color);
    border-radius: 999px;
}

.download{
    border: none;
    background: none;

    width: 88px;
    height: 28px;

    background-color: var(--color-theme-fg);
    color: var(--text-color-dark);
    border-radius: 999px;
}

.hero-section{
    display: flex;
    justify-content: center;
    padding: 112px 20px 67.2px;
}

.hero-section-wrapper{
    max-width: 1300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.heading h1{
    color: var(--text-color);
    font-size: 26px;
    font-weight: 500;
}

.download-cta{
    display: flex;
    align-items: center;

    text-align: center;
    font-size: 16px;
    font-weight: 400;

    text-decoration: none;

    width: 228px;
    height: 42px;

    background-color: var(--color-theme-fg);
    color: var(--text-color-dark);

    padding: 12.48px 21.6px 12.8px;
    border-radius: 999px;
}

.hero-img{
    margin-top: 56px;
}